.expensense_date {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 100px;
    background-color: beige;
    padding: 5px;
    border: 5px solid palevioletred;
    border-radius: 20px;
    color: black;
    font-weight: 900;
}